.nav {
    position: fixed;
    width: 100%;
    z-index: 10;

    &__backdrop.__opened {
        position: absolute;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background-color: #000;
        opacity: 0.7;
        z-index: -1;
    }

    &__shadow {
        background: linear-gradient(-90deg, #fff, #f7fafc);
        width: 100%;
        &::before {
            content: "";
            position: absolute;
            bottom: -30px;
            pointer-events: none;
            width: 100%;
            height: 90px;
            border-radius: 50% 50% 0 0 / 5px 5px 0 0;
            box-shadow: inset 0 83px 10px -20px #223b4f26;
            z-index: -2;
        }
    }
    &__wrapper {
        margin-right: -15px;
        height: 60px;
        padding: 10px 0;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        overflow: hidden;
        flex-wrap: wrap;
        &.__opened {
            transition: 0.8s ease-in-out;
            height: calc(100vh - 30px);
            flex-wrap: wrap;
            @media (min-width: 576px) {
                height: 500px;
            }
        }
        @media (min-width: 690px) {
            flex-wrap: nowrap;
        }
    }

    &__logo {
        font-size: 5vw;
        margin-right: 15px;
        order: 7;
        width: 100%;
        display: flex;
        justify-content: center;
        @media (min-width: 390px) {
            font-size: 4.3011px;
            order: 1;
            width: auto;
        }
    }

    &__phones {
        order: 2;
        flex-shrink: 0;
        display: flex;
        flex-direction: column;
        margin-right: 9px;
        line-height: 20px;
        font-weight: 700;
        color: #555;
        flex-grow: 2;
        margin-bottom: 10px;
        font-size: 16px;
        align-items: center;
        & a {
            transition: color 0.3s ease-in-out;
            &:hover {
                color: #000;
            }
        }
        & span {
            display: none;
        }
        @media (min-width: 440px) {
            & span {
                display: inline;
            }
            margin-right: 15px;
        }
        @media (min-width: 690px) {
            align-items: flex-start;
        }
        @media (min-width: 970px) {
            align-items: center;
        }
    }

    &__links {
        margin-right: 5px;
        line-height: 40px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        order: 6;
        width: 100%;
        flex-direction: column-reverse;
        & a {
            margin-right: 20px;
            transition: text-shadow 0.2s ease-in-out;
            &:hover {
                text-shadow: #000 0 0 0.5px;
            }
        }
        @media (min-width: 690px) {
            order: 3;
            width: auto;
            flex-direction: row-reverse;
        }
        &.__opened {
            order: 6;
            width: 100%;
            flex-direction: column-reverse;
            & a {
                font-size: 20px;
            }
        }
    }

    &__btn {
        order: 4;
        align-items: flex-start;
        display: flex;
        flex-grow: 1;
        margin-right: 9px;
        @media (min-width: 440px) {
            margin-right: 15px;
        }
        @media (min-width: 690px) {
            justify-content: flex-end;
        }
    }

    &__burger {
        order: 5;
        position: relative;
        margin-top: 10px;
        margin-right: 15px;
        width: 26px;
        min-width: 26px;
        height: 20px;
        @media (min-width: 880px) {
            display: none;
        }
        & span {
            position: absolute;
            height: 4px;
            width: 100%;
            display: block;
            left: 0;
            border-radius: 2px;
            transition: 0.3s ease-in-out;
            &:nth-child(1) {
                background: #ade04d;
                top: 0;
            }
            &:nth-child(2) {
                background: #4deaff;
                top: 16px;
            }
            &:nth-child(3) {
                background: #ffc14d;
                top: 8px;
            }
        }

        &.__opened {
            & span {
                &:nth-child(1) {
                    width: 50%;
                    top: 8px;
                    left: 50%;
                    transform-origin: 0% 50%;
                    transform: rotate(-45deg);
                }
                &:nth-child(2) {
                    width: 50%;
                    top: 8px;
                    left: 0;
                    transform-origin: 100% 50%;
                    transform: rotate(-45deg);
                }
                &:nth-child(3) {
                    top: 8px;
                    transform: rotate(45deg);
                }
            }
        }
    }
}
body.__opened {
    overflow: hidden;
}
